body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

p {
    margin-bottom: 5px;
}

.modal-backdrop {
    background-color: #fff;
}

.step_05-button {
    position: absolute;
    bottom: 34.25%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 9999;
}

.game-container {
    /* background-image: url(../images/game_bg.jpg); */
    background-position: center top;
    background-size: contain;
    background-color: #ffc21f;
    max-width: 545px;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    padding: 30px 30px 60px;
    min-height: 100vh;
}

.game-container::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #00000020;
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
    left: 0;
}

.game-header {}

.game-body ul {
    background-color: #ffc21f;
    padding: 0 5%;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.game-body ul li {
    width: 100%;
    border: 10px solid #fff;
    background-color: #8ea8a8;
    border-bottom: 0px;
}

.game-body ul li:nth-child(4) {
    margin-bottom: 45px;
    border-bottom: 10px solid #fff;
}

.game-body ul li:last-child {
    border-bottom: 10px solid #fff;
}

.game-body ul li .floor-container {
    width: 100%;
    position: relative;
}

.floor-title {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
    display: block;
    border-radius: 15px;
    border: 2px solid #ffc21f;
    color: #000;
    background-color: #fff;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-size: 14px;
    text-align: center;
    height: 100%;
}


/* 
.game-body ul li:nth-child(1) .floor-container {
    padding-bottom: 25%;
}

.game-body ul li:nth-child(2) .floor-container {
    height: 130px;
}

.game-body ul li:nth-child(3) .floor-container {
    height: 130px;
}

.game-body ul li:nth-child(5) .floor-container {
    height: 130px;
}

.game-body ul li:nth-child(6) .floor-container {} */

.button {
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 60px;
    background-color: #ffd800;
    display: inline-block;
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    z-index: 999;
    border: 2px solid transparent;
    min-width: 120px;
    text-align: center;
    line-height: 1.4;
}

.button:hover {
    border: 2px solid #fff;
    background-color: blue;
    color: #fff;
    text-decoration: none;
}

.step_01-container {
    border-radius: 15px;
}

.step_01-container .button::before {
    border-radius: 15px;
    padding: 15px;
}

.blue-button {
    border: 2px solid #fff;
    background-color: blue!important;
    color: #fff!important;
}

.blue-button:hover {
    transform: translate(5px, 5px);
    border: 2px solid #fff;
    background-color: blue!important;
    color: #fff!important;
}

.box-shadow {
    position: relative;
    display: inline-block;
}

.box-shadow::before {
    content: '';
    display: inline-block;
    background-color: #00000020;
    position: absolute;
    left: 5px;
    bottom: -5px;
    z-index: 99;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.timer {
    padding: 5px 30px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    color: #000;
    z-index: 999;
}

.floor-object {
    display: block;
    position: absolute;
}

.floor-container {
    position: relative;
    height: 115px;
}

.food-object-ing {
    z-index: 99999;
}

[class*='bacteria-object-'].object-light {
    animation-name: bacteria;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.game-body ul li:nth-child(1) .floor-container .bacteria-object-01 {
    right: 15px;
    top: 0px;
}

.game-body ul li:nth-child(1) .floor-container .bacteria-object-02 {
    left: 0;
    top: 0px;
}

.game-body ul li:nth-child(2) .floor-container .bacteria-object-01 {
    left: 0;
    top: 0px;
}

.game-body ul li:nth-child(2) .floor-container .bacteria-object-02 {
    left: 30%;
    bottom: 0;
}

.game-body ul li:nth-child(2) .floor-container .bacteria-object-03 {
    right: 0%;
    top: 0;
}

.game-body ul li:nth-child(3) .floor-container .bacteria-object-01 {
    left: 0;
    top: 0px;
}

.game-body ul li:nth-child(3) .floor-container .bacteria-object-02 {
    left: 30%;
    bottom: 0;
}

.game-body ul li:nth-child(3) .floor-container .bacteria-object-03 {
    right: 0%;
    top: 0;
}

.game-body ul li:nth-child(4) .floor-container .bacteria-object-01 {
    left: 0;
    top: 0px;
}

.game-body ul li:nth-child(4) .floor-container .bacteria-object-02 {
    left: 30%;
    bottom: 0;
}

.game-body ul li:nth-child(4) .floor-container .bacteria-object-03 {
    right: 0%;
    top: 0;
}

.game-body ul li:nth-child(5) .floor-container .bacteria-object-01 {
    left: 0;
    top: 0px;
}

.game-body ul li:nth-child(5) .floor-container .bacteria-object-02 {
    left: 30%;
    bottom: 0;
}

.game-body ul li:nth-child(6) .floor-container .bacteria-object-01 {
    left: 0;
    top: 0px;
}

.game-body ul li:nth-child(6) .floor-container .bacteria-object-02 {
    left: 30%;
    top: 0;
}

.game-body ul li:nth-child(6) .floor-container .bacteria-object-03 {
    right: 0;
    top: 0;
}

.game-body ul li:nth-child(1) .floor-container .dirt-object {
    right: 15px;
    top: 15px;
}

.game-body ul li:nth-child(2) .floor-container .dirt-object {
    bottom: -20px;
    left: 0;
}

.game-body ul li:nth-child(3) .floor-container .dirt-object {
    right: 15px;
}

.game-body ul li:nth-child(4) .floor-container .dirt-object {
    left: 30px;
    top: 5px;
}

.game-body ul li:nth-child(5) .floor-container .dirt-object {
    right: 30px;
    top: 10px;
}

.game-body ul li:nth-child(6) .floor-container .dirt-object {
    right: 90px;
    top: -10px;
}

.game-body ul li:nth-child(1) .floor-container .bad-food-object-01 {
    right: 140px;
    bottom: 0;
}

.game-body ul li:nth-child(1) .floor-container .bad-food-object-02 {
    right: 75px;
    bottom: 0;
}

.game-body ul li:nth-child(2) .floor-container .bad-food-object-03 {
    left: 5px;
    bottom: 0;
}

.game-body ul li:nth-child(2) .floor-container .bad-food-object-04 {
    right: 90px;
    bottom: 0;
}

.game-body ul li:nth-child(3) .floor-container .bad-food-object-05 {
    right: 180px;
    bottom: 0;
}

.game-body ul li:nth-child(3) .floor-container .bad-food-object-06 {
    right: 60px;
    bottom: 0;
}

.game-body ul li:nth-child(3) .floor-container .bad-food-object-07 {
    right: 15px;
    bottom: 0;
}

.game-body ul li:nth-child(4) .floor-container .bad-food-object-08 {
    left: 0px;
    bottom: 0;
}

.game-body ul li:nth-child(4) .floor-container .bad-food-object-09 {
    left: 60px;
    bottom: -10px;
}

.game-body ul li:nth-child(4) .floor-container .bad-food-object-10 {
    right: 120px;
    bottom: 0;
}

.game-body ul li:nth-child(5) .floor-container .bad-food-object-11 {
    right: 60px;
    bottom: 0;
}

.game-body ul li:nth-child(6) .floor-container .bad-food-object-12 {
    left: 15px;
    bottom: 0;
}

.game-body ul li:nth-child(1) .floor-container .food-object-01,
.game-body ul li:nth-child(1) .floor-container .p-food-object-01 {
    left: 10px;
    bottom: 0;
}

.game-body ul li:nth-child(2) .floor-container .food-object-02,
.game-body ul li:nth-child(2) .floor-container .p-food-object-02 {
    right: 170px;
    bottom: 0;
}

.game-body ul li:nth-child(2) .floor-container .food-object-03,
.game-body ul li:nth-child(2) .floor-container .p-food-object-03 {
    right: 90px;
    bottom: 0;
}

.game-body ul li:nth-child(2) .floor-container .food-object-04,
.game-body ul li:nth-child(2) .floor-container .p-food-object-04 {
    right: 10px;
    bottom: 0;
}

.game-body ul li:nth-child(3) .floor-container .food-object-05,
.game-body ul li:nth-child(3) .floor-container .p-food-object-05 {
    right: 180px;
    bottom: 0;
}

.p-food-object-05-1 {
    left: 10px;
    bottom: 0;
}

.game-body ul li:nth-child(3) .floor-container .food-object-06,
.game-body ul li:nth-child(3) .floor-container .p-food-object-06 {
    right: 70px;
    bottom: 0;
}

.game-body ul li:nth-child(3) .floor-container .food-object-07,
.game-body ul li:nth-child(3) .floor-container .p-food-object-07 {
    right: 15px;
    bottom: 0;
}

.game-body ul li:nth-child(4) .floor-container .food-object-08,
.game-body ul li:nth-child(4) .floor-container .p-food-object-08 {
    right: 100px;
    bottom: 0;
}

.game-body ul li:nth-child(4) .floor-container .food-object-09,
.game-body ul li:nth-child(4) .floor-container .p-food-object-09 {
    right: 15px;
    bottom: 0;
}

.game-body ul li:nth-child(5) .floor-container .food-object-10,
.game-body ul li:nth-child(5) .floor-container .p-food-object-10 {
    left: 5px;
    bottom: 0;
}

.game-body ul li:nth-child(5) .floor-container .food-object-11,
.game-body ul li:nth-child(5) .floor-container .p-food-object-11 {
    left: 110px;
    bottom: 0;
}

.game-body ul li:nth-child(5) .floor-container .food-object-12,
.game-body ul li:nth-child(5) .floor-container .p-food-object-12 {
    right: 82.5px;
    bottom: 0;
}

.game-body ul li:nth-child(5) .floor-container .food-object-13,
.game-body ul li:nth-child(5) .floor-container .p-food-object-13 {
    right: 5px;
    bottom: 0;
}

.game-body ul li:nth-child(6) .floor-container .food-object-14,
.game-body ul li:nth-child(6) .floor-container .p-food-object-14 {
    left: 10px;
    bottom: 0;
}

.game-body ul li:nth-child(6) .floor-container .food-object-15,
.game-body ul li:nth-child(6) .floor-container .p-food-object-15 {
    left: 90px;
    bottom: 0;
}

.game-body ul li:nth-child(6) .floor-container .food-object-16,
.game-body ul li:nth-child(6) .floor-container .p-food-object-16 {
    right: 90px;
    bottom: 0;
}

.game-body ul li:nth-child(6) .floor-container .food-object-17,
.game-body ul li:nth-child(6) .floor-container .p-food-object-17 {
    right: 10px;
    bottom: 0;
}

.button-container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #00000090;
}


/* [class*=p-food-object] {
    display: none;
} */

.package-object img {
    position: relative;
}

.package-object img::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff40;
    border-top: 5px solid #ffffff40;
    top: 0;
    left: 0;
}

.floor-object img {
    max-height: 45px;
    position: relative;
}

img.small {
    max-height: 30px;
}

img.medium {
    max-height: 60px;
}

img.large {
    max-height: 75px;
}

img.x-large {
    max-height: 100px;
}


/* modal-content_reset_start */

.modal-content {
    background-color: transparent;
    border: 0px;
}


/* modal-content_reset_end */

.word_pad {
    position: relative;
    background-image: url(../images/word_pad.png);
    /* max-width: 375px; */
    width: 100%;
    padding-bottom: 140%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.finish_pad {
    background-image: url(../images/finish-bg.png);
    padding-bottom: 180%;
}

.word_pad .text-title {
    position: absolute;
    top: 25%;
    width: 67.5%;
    left: 10%;
    font-size: 36px;
    text-align: center;
    -webkit-text-stroke: 2px #000;
    color: #fff;
    font-weight: 900;
}

.word_pad .text-container {
    padding-top: 0px;
    position: absolute;
    top: 55%;
    z-index: 99999999;
    width: 67.5%;
    left: 10%;
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
    letter-spacing: 1px;
}


/* 
.plug-container {
    background-color: #ffffff20;
} */

.plug-content {
    position: relative;
    margin: 30px auto;
    padding-bottom: 70px;
    width: 310px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.plug-content [class*='plug-'] {
    position: absolute;
    top: 0;
}

.p-title {
    display: block;
    margin-bottom: 0px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    -ms-box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    -o-box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000!important;
    font-size: 12px;
}

.object-light {
    /* border: 1px solid #f00; */
}

.object-light img {}

.plug-content-separate {
    width: 100%;
}

.plug-content .plug-l {
    left: 0;
}

.plug-content .plug-r {
    right: 0;
}

.text-container table {
    width: 100%;
    table-layout: fixed;
}

.word_pad .text-container p:last-child {
    margin-bottom: 0;
}

.finish_pad .text-title {
    top: 15%;
}

.finish_pad .text-container {
    top: 35%;
}

.finish_pad .text-container .finish-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-container ul {
    padding: 0;
    margin: 0;
}

.text-container ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.text-container .text-remark {
    color: blue;
}

.object-light {
    display: block;
}

.object-light img {
    display: block;
    z-index: 9999;
    position: relative;
    animation-name: scale;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
    animation-timing-function: ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bacteria {
    0% {
        transform: scale(1);
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 440px) {
    .word_pad .text-container {
        font-size: 12px;
    }
    .game-container {
        padding: 15px 20px 30px;
    }
    .finish_pad .text-container .finish-title {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 420px) {}